<div class="col-xs-12">
  <form [formGroup]="myRecipeForm" (ngSubmit)="myOnSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button
                type="submit"
                class="btn btn-success"
                [disabled]="!myRecipeForm.valid">{{editMode ? 'Update' : 'Save' }}</button>
          <button type="button" class="btn btn-danger" (click)="myOnCancel()">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input
                  type="text"
                  id="name"
                  formControlName="name"
                  class="form-control">
<!--          formControlName="myRecipeEditFormControlRecipeNameName"-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input
                  type="text"
                  id="imagePath"
                  formControlName="imagePath"
                  class="form-control"
                  #imagePath>
<!--          formControlName="myRecipeEditFormControlImageUrlName"-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img [src]="imagePath.value" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
                  type="text"
                  id="description"
                  class="form-control"
                  formControlName="description"
                  rows="6"></textarea>
<!--          formControlName="myRecipeEditFormControlDescriptionName"-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" formArrayName="ingredients">
<!-- This works. More normal (than my exploratory TESTING below).
     Here, not trying to make use of "ngForOf"
     N.B. 'ingredientControls' is a GETTER()
     -->
<!-- Lect. 336 re: AOT - we commented this out to see
error occur (Details below) for AOT build compilation
Now, we put this back in: 'ingredientControls' GETTER -->
    <div
                class="row"
                *ngFor="let ingredientCtrl of ingredientControls; let myI = index"
                [formGroupName]="myI"
                style="margin-top: 10px;">
                <!-- -->


<!-- TESTING alternative syntax for ngForOf y not
Interesting. Okay, so the ng-template needs to WRAP more
the whole div.row holding all these ingredient controls.
Must be the outermost as 'twere. Okay.
    NOPE: Not up here, outside the  ng-template
       <div         class="row">

Instead, put that div.row down below the ng-template,
such that the "myI" created by the ngForOf, on that ng-template,
is then available for use/reference down below in the div.row,
for each FormGroup. And then (like before) the HTML nested
FormControls for each name and amount are seen in nested divs and
input elements.
Methinks.
                -->
<!--                <ng-template
                        [ngForOf]="ingredientControls"
                        let-ingredientCtrl
                        let-myI="index"
                        ngFor
                        >
                    <div class="row" [formGroupName]="myI"
                         style="margin-top: 10px;">
                        <p>test whoa</p>
                        <div class="col-xs-8">
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="name">
                        </div>
                    </div>-->
                    <!-- Note we're INCOMPLETE with this little test
                    ng-template would not end here, but should instead be placed at bottom of
                    all this "list of ingredients (controls)" biz. -->
<!--                </ng-template>-->

<!--  OLD. NOW WRONG. -->
<!-- Lect. 336 re: AOT. We temporarily put this
*back in* to see it hit AOT compilation error.
Now we Comment it Out again. Cheers.
          <div
                  class="row"
                  [formGroupName]="myI"
                  style="margin-top: 10px;"
          *ngFor="let ingredientCtrl of myRecipeForm.get('ingredients').controls; let myI = index" >
-->
            <!--
            Interesting. Way up in Lect. 336 re: AOT Compiling,
            we look at the error encountered here in
            RecipeEdit
            The IDE (both WebStorm and Visual Studio Code)
            show "warnings" for above line.
            That ".controls" is "unresolved JavaScript
            variable".
            (Why? Because AbstractControl (FormArray?) doesn't have a "controls" property = MBU)

            Anyway:
            The JIT (Just-In-Time) compiler (for Development)
            does work okay with this, despite warning.

            But the AOT (Ahead-Of-Time) compiler (for production
            build) hits error.
            ----------
            ERROR in src/app/recipes/recipe-edit/recipe-edit.component.html(115,11): Property 'controls' does not exist on type 'AbstractControl'.
---------------------------

            Solution for AOT is to once again use
            the syntax we already had going, up above:

            *ngFor="let ingredientCtrl of ingredientControls; let myI = index"
            Recall  N.B. 'ingredientControls' is a GETTER()
            -->
          <div class="col-xs-8">
            <input
                    type="text"
                    class="form-control"
                    formControlName="name">
          </div>
          <div class="col-xs-2">
            <input
                    type="number"
                    class="form-control"
                    formControlName="amount">
          </div>
          <div class="col-xs-2">
            <button
                    type="button"
                    class="btn btn-danger"
                    (click)="myOnDeleteIngredient(myI)">X</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button
                    type="button"
                    class="btn btn-success"
                    (click)="myOnAddIngredient()">Give Me a Little Form, With Which I Will Add an Ingredient</button>
              <span> &nbsp; &nbsp; </span>

            <button type="button"
                    class="btn btn-danger"
                    bind-disabled="ingredientControls.length === 0"
                    on-click="myClearAllRecipeIngredients()">
                Clear ALL Ingredients
            </button>
          </div>
        </div>
      </div>
        <!--    </div> for ngForOf Testing above -->
    </div>
  </form>
</div>
