<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
        <li>
<!-- ORIG: -->
      <li
              class="list-group-item"
              style="cursor: pointer"
              *ngFor="let ingredientwr of ingredients"

      >
        <p>hmm ingredientwr: ??{{ ingredientwr.name }} ({{ ingredientwr.amount }})??</p>
        <p>hmm ingredientwrOLDSKOOL: ??{{ ingredientwr['ingredient-nameName'] }} ({{ ingredientwr['amountName'] }})??</p>
<!-- on-click="populateFormWithIngredient(myIndex)" -->
      <ng-template
              ngFor
              let-ingredient
              [ngForOf]="ingredients"
              let-myIndex="index">
        <a
                class="list-group-item"
                style="cursor: pointer"
                on-click="populateFormWithIngredient(myIndex)"
        >
          {{ myIndex }}: {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ng-template>
        <!--
        https://angular.io/api/common/NgForOf#description
        -->
      </li>
    </ul>
  </div>
</div>
