<div class="row">
  <div class="col-xs-12">
    <form
            on-ngSubmit="myOnSubmit(myFormRef)"
            ref-myFormRef="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="ingredient-nameId">Ingredient Name</label>
          <input
            type="text"
            id="ingredient-nameId"
            name="ingredient-nameName"
            class="form-control"
            ngModel
            required
            #ingredientNameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amountId">Amount</label>
          <input
            type="number"
            id="amountId"
            name="amountName"
            class="form-control"
            ngModel
            required
            [pattern]="'^[1-9][0-9]*$'"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  bind-disabled="!myFormRef.valid"
          >{{editMode ? 'Update/Edit' : 'Add New' }}</button>
          <button class="btn btn-danger" type="button"
                  *ngIf="editMode"
                  on-click="onDeleteItem()">Delete</button>
          <button class="btn btn-primary" type="button" on-click="myClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
